@model IEnumerable<Sensato.GenerateCSharp.Models.Tb_Projects>

@{
    ViewBag.Title = "Index";
}

<h2>Indice de Proyectos</h2>

<p>
    @Html.ActionLink(Sensato.GenerateCSharp.GlobalCode.Resources.CreateNew, "Create",null, new  { @class= "btn btn-warning"})
</p>
<table class="table table-bordered table-condensed" align="center" border="1">
    <tr class="bg-primary">
        <th>
            @Html.DisplayName(Sensato.GenerateCSharp.GlobalCode.Resources.ProjectName)
        </th>
        <th>
            @Html.DisplayName(Sensato.GenerateCSharp.GlobalCode.Resources.FileDirectory)
        </th>
        <th>
            @Html.DisplayName(Sensato.GenerateCSharp.GlobalCode.Resources.Server)
        </th>
        <th>
            @Html.DisplayName(Sensato.GenerateCSharp.GlobalCode.Resources.ProjectUser)
        </th>
        <th>
            @Html.DisplayName(Sensato.GenerateCSharp.GlobalCode.Resources.CreationDate)
        </th>
        <th>
            @Html.DisplayName("Acciones")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileDirectory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Server)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectUser)
        </td>
        <td>
            @String.Format("{0:dd/MM/yyyy}", item.CreationDate)
        </td>
        <td>
            @Html.ActionLink(Sensato.GenerateCSharp.GlobalCode.Resources.Edit, "Edit", new { id = item.ID_Project }) |
            @Html.ActionLink(Sensato.GenerateCSharp.GlobalCode.Resources.Delete, "Delete", new { id = item.ID_Project }) |
            <button type="button" class="btn-link" onclick="AddContexts(@item.ID_Project)">Ver Contextos</button>
        </td>
    </tr>
}
</table>

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {

        });

        function AddContexts(ID_Project) {
            window.location.href = "@Url.Action("Index", "Context")?ID_Project=" + ID_Project;
        }
    </script>
    }

