@model Sensato.GenerateCSharp.Models.Tb_Objects

@{
    ViewBag.Title = "Delete";
}

<h2 style="color: darkslateblue;">"@ViewBag.CxtName"</h2>
<h3>Eliminar</h3>
<h4>¿Está seguro que desea eliminar este Objeto?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ObjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_SysObject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_SysObject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tb_Contexts.ContextName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tb_Contexts.ContextName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObjDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObjDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Entity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entity)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink(Sensato.GenerateCSharp.GlobalCode.Resources.BackToListO, "Index", new { ViewBag.idContext })
            <hr />
            <button type="button" class="btn-link" onclick="GoToIndex(@ViewBag.idProject)">@Sensato.GenerateCSharp.GlobalCode.Resources.BackToListC</button>
        </div>
    }
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

        });

        function GoToIndex(idProject) {
            window.location.href = "@Url.Action("Index", "Context")?ID_Project=" + idProject;
        }
    </script>
}
