@model IEnumerable<Sensato.GenerateCSharp.Models.Tb_Objects>

@{
    ViewBag.Title = "Index";
}


    <h2 style="color:darkslateblue">"@ViewBag.CxtName"</h2>
<h3>Listado de Objetos</h3>
<p>
    @Html.ActionLink(Sensato.GenerateCSharp.GlobalCode.Resources.CreateNew, "Create", new {idContext = ViewBag.idContext, idProject = ViewBag.idProject }, new { @class = "btn btn-danger" })
</p>
<table class="table table-bordered">
    <tr class="bg-danger">
        <th>
            @Html.DisplayName(Sensato.GenerateCSharp.GlobalCode.Resources.SYS_ID_Object)
        </th>
        <th>
            @Html.DisplayName(Sensato.GenerateCSharp.GlobalCode.Resources.ObjectName)
        </th>
        <th>Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_Object)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObjectName)
            </td>
            <td>
                @Html.ActionLink(Sensato.GenerateCSharp.GlobalCode.Resources.Edit, "Edit", new { id = item.ID_Object, ViewBag.idContext, ViewBag.idProject }) |
                @Html.ActionLink(Sensato.GenerateCSharp.GlobalCode.Resources.Delete, "Delete", new { id = item.ID_Object, ViewBag.idContext, ViewBag.idProject }) |
                <button type="button" class="btn-link" onclick="ShowParameters(@item.ID_Object)">Ver Parámetros</button>
            </td>
        </tr>
    }

</table>

<div>
    <button type="button" class="btn-link" onclick="GoToIndex(@ViewBag.idProject)">@Sensato.GenerateCSharp.GlobalCode.Resources.BackToListC</button>
    <hr />
    <button type="button" class="btn-link" onclick="GoToProjects()">@Sensato.GenerateCSharp.GlobalCode.Resources.BackToListP</button>
</div>

@section scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
        });

        function GoToProjects() {
            window.location.href = "@Url.Action("Index", "Project")";
        }

        function GoToIndex(idProject) {
            window.location.href = "@Url.Action("Index", "Context")?ID_Project=" + idProject;
        }

        function ShowParameters(idObject) {
            window.location.href = "@Url.Action("Index", "Parameters")?idObject=" + idObject;
        }

    </script>
}