@model Sensato.GenerateCSharp.Models.Tb_Parameters

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tb_Parameters</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParameterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParameterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Length)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Presition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Presition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nullable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nullable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tb_Objects.ObjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tb_Objects.ObjectName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Parameter }) |
    @Html.ActionLink("Back to List", "Index")
</p>
