@model IEnumerable<Sensato.GenerateCSharp.Models.Tb_Parameters>

@{
    ViewBag.Title = "Index";
}

<h2 style="color:darkgreen;">Listado de Parámetros</h2>

<p>
    @Html.ActionLink(Sensato.GenerateCSharp.GlobalCode.Resources.CreateNew, "Create", null, new { @class = "btn btn-warning" }))
</p>
<table class="table table-bordered table-condensed">
    <tr style="background-color:gold">
        <th>
            @Html.DisplayName(Sensato.GenerateCSharp.GlobalCode.Resources.ParameterName)
        </th>
        <th>
            @Html.DisplayName(Sensato.GenerateCSharp.GlobalCode.Resources.DataType)
        </th>
        <th>
            @Html.DisplayName(Sensato.GenerateCSharp.GlobalCode.Resources.Length)
        </th>
        <th>
            @Html.DisplayName(Sensato.GenerateCSharp.GlobalCode.Resources.Presition)
        </th>
        <th>
            @Html.DisplayName(Sensato.GenerateCSharp.GlobalCode.Resources.Nullable)
        </th>
        <th>
            @Html.DisplayName(Sensato.GenerateCSharp.GlobalCode.Resources.IsOut)
        </th>
        <th>
            Acciones
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ParameterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Length)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Presition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nullable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsOut)
        </td>
        <td>
            @Html.ActionLink(Sensato.GenerateCSharp.GlobalCode.Resources.Edit, "Edit", new { id=item.ID_Parameter }) |
            @Html.ActionLink(Sensato.GenerateCSharp.GlobalCode.Resources.Edit, "Delete", new { id=item.ID_Parameter })
        </td>
    </tr>
}

</table>
