@model Sensato.GenerateCSharp.Models.Tb_Contexts

@{
    ViewBag.Title = "Create";
}


<h2 style="font-size:35px; color: darkred;">"@ViewBag.CurrentName"</h2>
<h3>Crear Contexto</h3>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_Project, new { Value = ViewBag.idProject })

        <div class="form-group">
            @Html.Label(Sensato.GenerateCSharp.GlobalCode.Resources.ContextName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContextName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContextName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(Sensato.GenerateCSharp.GlobalCode.Resources.BackToListC, "Index", new { ID_Project = ViewBag.idProject })
    <hr />
    <button type="button" class="btn-link" onclick="GoToIndex()">@Sensato.GenerateCSharp.GlobalCode.Resources.BackToListP</button>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
        $(document).ready(function () {

        });

        function GoToIndex() {
            window.location.href = "@Url.Action("Index", "Project")";
        }
</script>
}
