@model Sensato.GenerateCSharp.Models.Tb_Contexts

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Está seguro que desea eliminar el Contexto?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nombre del Contexto")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContextName)
        </dd>

        <dt>
            @Html.DisplayName("Fecha de Creación")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayName("Proyecto Raíz")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tb_Projects.ProjectName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver a Inicio", "Index")
        </div>
    }
</div>
