@model Sensato.GenerateCSharp.Models.Tb_Contexts

@{
    ViewBag.Title = "Delete";
}


<h2 style="font-size:35px; color:darkred;">"@ViewBag.CurrentName"</h2>
<h3>Eliminar</h3>
<h4>¿Está seguro que desea eliminar el Contexto?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(Sensato.GenerateCSharp.GlobalCode.Resources.ContextName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContextName)
        </dd>

        <dt>
            @Html.DisplayName(Sensato.GenerateCSharp.GlobalCode.Resources.CreationDate)
        </dt>

        <dd>
            @String.Format("{0:dd/MM/yyyy}", Model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayName("Proyecto Raíz")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tb_Projects.ProjectName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink(Sensato.GenerateCSharp.GlobalCode.Resources.BackToListC, "Index", new { ViewBag.id_Project })
            <hr />
            <button type="button" class="btn-link" onclick="GoToIndex()">@Sensato.GenerateCSharp.GlobalCode.Resources.BackToListP</button>
        </div>
    }
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

        });

        function GoToIndex() {
            window.location.href = "@Url.Action("Index", "Project")";
        }
    </script>
    }