@model Sensato.GenerateCSharp.Models.Tb_Contexts

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tb_Contexts</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContextName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContextName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tb_Projects.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tb_Projects.ProjectName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Context }) |
    @Html.ActionLink("Back to List", "Index")
</p>
