@model IEnumerable<Sensato.GenerateCSharp.Models.Tb_Contexts>

@{
    ViewBag.Title = "Index";
}

<h2>Indice de Contextos</h2>

<p>
    @Html.ActionLink(Sensato.GenerateCSharp.GlobalCode.Resources.CreateNew, "Create", new { ID_Project = ViewBag.CurrentProject}, new { @class = "btn btn-warning"})
</p>
<table class="table table-bordered table-condensed">
    <tr class="bg-info">
        <th>
            @Html.DisplayName(Sensato.GenerateCSharp.GlobalCode.Resources.ContextName)
        </th>
        <th>
            @Html.DisplayName("Proyecto Raíz")
        </th>
        <th>
            @Html.DisplayName(Sensato.GenerateCSharp.GlobalCode.Resources.CreationDate)
        </th>
        <th>
            Acciones
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ContextName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tb_Projects.ProjectName)
        </td>
        <td>
            @String.Format("{0:dd/MM/yyyy}",item.CreationDate)
        </td>
        <td>
            @Html.ActionLink(Sensato.GenerateCSharp.GlobalCode.Resources.Edit, "Edit", new { id=item.ID_Context }) |
            @Html.ActionLink(Sensato.GenerateCSharp.GlobalCode.Resources.Delete, "Delete", new { id=item.ID_Context })
        </td>
    </tr>
}

</table>
